<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204756895142-fgesmvlaodbbcpk6c8gdus7780fq8rjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204756895142-fgesmvlaodbbcpk6c8gdus7780fq8rjv</string>
	<key>API_KEY</key>
	<string>AIzaSyB3Yh4wpQuRGmWBCe3EeE3dWGZI0FG-1u0</string>
	<key>GCM_SENDER_ID</key>
	<string>204756895142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.DevDDong.KoreaNow</string>
	<key>PROJECT_ID</key>
	<string>koreanow-3e42c</string>
	<key>STORAGE_BUCKET</key>
	<string>koreanow-3e42c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204756895142:ios:66c3a93f9b46743033fb67</string>
	<key>DATABASE_URL</key>
	<string>https://koreanow-3e42c.firebaseio.com</string>
</dict>
</plist>